@model IEnumerable<cards4.Models.cardtbl>

@{
    ViewBag.Title = "BusinessCards";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.Label("Content of Card")
        </th>
        <th>
            @Html.Label("Username")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.cardcontent)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.usertbl.username)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.cardid }) |
            @Html.ActionLink("Details", "Details", new { id=item.cardid }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.cardid })
        </td>
    </tr>
}

</table>
